<!DOCTYPE html>
<html>
<head>
<title>RFID Relay System</title>
<style>
body { font-family: Arial; text-align:center; }
table { margin:auto; border-collapse: collapse; }
td, th { border:1px solid black; padding:5px; }
</style>
</head>

<body>

<h2>RFID Relay Dashboard</h2>

<h3 id="relay">Relay: --</h3>

<button onclick="turnOff()">TURN OFF RELAY</button>

<h3>Last 20 Events</h3>

<table>
<thead>
<tr>
<th>Card</th>
<th>Time</th>
<th>Relay</th>
</tr>
</thead>
<tbody id="log"></tbody>
</table>

<script>

function turnOff() {
  fetch("/api/off", { method: "POST" });
}

function update() {
  fetch("/api/data")
    .then(r => r.json())
    .then(data => {

      document.getElementById("relay").innerText =
        "Relay: " + data.relay;

      let html = "";

      data.events.forEach(e => {
        html += `<tr>
          <td>${e.card}</td>
          <td>${e.time}</td>
          <td>${e.relay}</td>
        </tr>`;
      });

      document.getElementById("log").innerHTML = html;
    });
}

setInterval(update, 2000);

</script>

</body>
</html>
